{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h3>Bienvenue sur notre site</h3>
        <button class="btn btn-success" id="clickMe">Il faut cliquer ici !</button>
    </div>
    {{ encore_entry_script_tags('home') }}
{% endblock %}