{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h3>Bienvenue sur notre site</h3>
        <p>Ceci est une page vide</p>
        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
            Tooltip on top
        </button>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}